<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eds.coupon" >
    <resultMap id="couponPageMap" type="com.eds.ma.bis.coupon.vo.UserCouponVo">
        <result property="couponId" column="id"/>
        <result property="userId" column="userId"/>
        <result property="couponName" column="name"/>
        <result property="couponType" column="type"/>
        <result property="benefit" column="benefit"/>
        <result property="beginTime" column="beginTime"/>
        <result property="endTime" column="endTime"/>
        <result property="couponStatus" column="couponStatus"/>
    </resultMap>

    <select id="queryUserCouponList" resultMap="couponPageMap">
        SELECT euc.id,euc.userId,euc.name,euc.type,euc.benefit,euc.beginTime,euc.endTime,euc.couponStatus
        FROM t_eds_user_coupon euc
        WHERE  euc.userId = #{userId} AND euc.dataStatus = 1 and euc.couponStatus = #{couponStatus}
        ORDER BY euc.created DESC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="queryUserShareCouponDetail" resultType="com.eds.ma.bis.user.vo.UserShareCouponVo">
        SELECT eudi.receiveOpenId as openId,eu.nickname,eu.headimgurl,eudi.created as shardDateTime
        FROM t_eds_user_dist eud
        left join t_eds_user_dist_item eudi on eud.id = eudi.distId
        left join t_eds_user eu on eudi.receiveOpenId = eu.openId
        WHERE  eud.sponsorOpenId = #{openId} and eud.distStatus = 'S_DIST_JXZ'
               AND eud.dataStatus = 1 and eudi.dataStatus = 1 and eudi.isActived = 1
        ORDER BY eudi.created DESC
        LIMIT #{start}, #{pageSize}
    </select>

</mapper>