<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eds.device" >

    <select id="queryNearbyDevices" resultType="com.eds.ma.bis.device.vo.DeviceInfoVo$DeviceDetailVo">
        SELECT ed.id AS deviceId,es.spName,es.spAddress,es.spBusinessTime,es.spImage,es.spLat,es.spLng,ed.borrowTimes,
               if(count(ed.id)>0,'待租借','租借中') as spDeviceStatus
        FROM t_eds_sp es
        LEFT JOIN t_eds_device ed ON es.id = ed.spId
        WHERE es.dataStatus = 1 AND ed.dataStatus = 1 AND ed.deviceStatus = 'S_SPZT_DZJ'
            AND es.spLat &gt;= #{minDeviceLat} and es.spLat &lt;= #{maxDeviceLat}
            AND es.spLng &gt;= #{minDeviceLng} and es.spLng &lt;= #{maxDeviceLng}
        group by es.id
    </select>

    <select id="queryNearbySpByCoordinate" resultType="com.eds.ma.bis.device.vo.SpDetailVo">
        SELECT es.id AS spId,es.spLng,es.spLat,
            (6378137 * ACOS(COS( RADIANS(#{userLat})) * COS( RADIANS( es.spLat ) ) * COS( RADIANS(es.spLng ) - RADIANS(#{userLng}) )
                            + SIN( RADIANS(#{userLat}) ) * SIN( RADIANS( es.spLat ) ) ) ) AS spDistance
        FROM t_eds_sp es
        WHERE es.dataStatus = 1 and
        (6378137 * ACOS(COS( RADIANS(#{userLat})) * COS( RADIANS( es.spLat ) ) * COS( RADIANS(es.spLng ) - RADIANS(#{userLng}) )
            + SIN( RADIANS(#{userLat}) ) * SIN( RADIANS( es.spLat ) ) ) ) &lt;= #{nearbyDistance}
        order by spDistance asc
        limit 1
    </select>

    <select id="queryRentDeviceById" resultType="com.eds.ma.bis.device.vo.DeviceRentDetailVo">
        SELECT ed.id AS deviceId,es.spLng AS deviceLng,es.spLat AS deviceLat,ed.deviceStatus,ed.spId,ed.orderId,ed.userId,eo.rentTime,eo.orderStatus
        FROM t_eds_device ed
        LEFT JOIN t_eds_sp es ON ed.spId = es.id
        left join t_eds_order eo on eo.id = ed.orderId
        WHERE  ed.id = #{deviceId} AND es.dataStatus = 1 AND ed.dataStatus = 1
            <if test="userId != null">
                and ed.userId = #{userId}
            </if>

        FOR UPDATE
    </select>

    <select id="queryUserRentingDeviceCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_eds_device ed
        WHERE  ed.userId = #{userId} AND ed.deviceStatus = 'S_SPZT_SYZ' AND ed.dataStatus = 1
        FOR UPDATE
    </select>

    <select id="queryIdleDeviceListBySpId" resultType="com.eds.ma.bis.device.vo.IdleDeviceVo">
        SELECT ed.id as deviceId, ed.deviceCode,ed.borrowTimes
        FROM t_eds_device ed
        WHERE ed.spId = #{spId} and ed.userId is null and ed.orderId is null AND ed.deviceStatus = 'S_SPZT_DZJ' AND ed.dataStatus = 1
    </select>

    <select id="queryUserDeviceList" resultType="com.eds.ma.bis.device.vo.UserDeviceVo">
        SELECT ed.id as deviceId, ed.deviceCode,ed.borrowTimes
        FROM t_eds_device ed
        WHERE  ed.userId = #{userId} AND ed.deviceStatus = 'S_SPZT_SYZ' AND ed.dataStatus = 1
        <if test="spId != null">
            and ed.spId = #{spId}
        </if>
    </select>

    <update id="updateRentDevice">
        UPDATE t_eds_device
        SET borrowTimes = borrowTimes + 1,userId = #{userId},orderId = #{orderId},deviceStatus = 'S_SPZT_SYZ'
        WHERE id=#{deviceId}
    </update>

    <update id="updateReturnDevice">
        UPDATE t_eds_device
        SET spId = #{spId},userId = null ,orderId = null,deviceStatus = 'S_SPZT_DZJ'
        WHERE id=#{deviceId} and orderId = #{orderId} and userId = #{userId} and dataStatus = 1
    </update>



</mapper>