<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eds.user" >

    <select id="queryUserByAliWx" resultType="com.eds.ma.bis.user.vo.ContextUser">
        SELECT eu.id as userId,eu.aliUid,eu.openId,eu.mobile
              <if test="openId != null">,euw.wxUnionId,euw.nickname as wxNickname,
                  euw.headimgurl as wxHeadimgurl,euw.subscribeCoupon,euw.rawData as wxUseRawData,euw.nickname,euw.headimgurl</if>
              <if test="aliUid != null">,eua.aliNickname,eua.aliHeadimgurl,eua.aliTokenRawData,eua.aliUserRawData,eua.aliNickname as nickname,eua.aliHeadimgurl as headimgurl</if>
        FROM t_eds_user eu
        <if test="aliUid != null"> left join t_eds_user_ali eua on eu.aliUid = eua.aliUid</if>
        <if test="openId != null">left join t_eds_user_wxma euw on eu.openId = euw.openId</if>
        WHERE
              <if test="openId != null">
                  eu.openId = #{openId} and euw.dataStatus = 1 and
              </if>
              <if test="aliUid != null">
                  eu.aliUid = #{aliUid} and eua.dataStatus = 1 and
              </if>
           eu.dataStatus = 1
    </select>

    <select id="queryUserWxMaByUnionId" resultType="com.eds.ma.bis.user.vo.ContextUser">
        SELECT eu.id as userId,eu.aliUid,eu.openId,euw.wxUnionId,eu.mobile,euw.nickname as wxNickname,
        euw.headimgurl as wxHeadimgurl,euw.subscribeCoupon,euw.rawData as wxUseRawData,
        eua.aliNickname,eua.aliHeadimgurl,eua.aliTokenRawData,eua.aliUserRawData
        <if test="openId != null">,euw.nickname,euw.headimgurl</if>
        <if test="aliUid != null">,eua.aliNickname as nickname,eua.aliHeadimgurl as headimgurl</if>
        FROM t_eds_user eu
        left join t_eds_user_ali eua on eu.aliUid = eua.aliUid
        left join t_eds_user_wxma euw on eu.openId = euw.openId
        WHERE
        <if test="openId != null">
            eu.openId = #{openId} and euw.dataStatus = 1 and
        </if>
        <if test="aliUid != null">
            eu.aliUid = #{aliUid} and eua.dataStatus = 1 and
        </if>
        eu.dataStatus = 1
    </select>


    <update id="updateUserWallet">
        UPDATE t_eds_user_wallet
        SET updated = now()
            <if test="deposit != null">
                ,deposit = deposit + #{deposit}
            </if>
            <if test="balance != null">
                ,balance = balance + #{balance}
            </if>
        WHERE userId=#{userId}
    </update>

    <select id="queryUserWalletByUserIdWithLock" resultType="com.eds.ma.bis.user.entity.UserWallet">
        SELECT *
        FROM t_eds_user_wallet euw
        WHERE  euw.userId = #{userId}
        FOR UPDATE
    </select>

    <select id="queryUserRentTimes" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_eds_order euw
        WHERE  euw.userId = #{userId} and euw.orderStatus = 'S_DDZT_YJS' and euw.dataStatus = 1
        FOR UPDATE
    </select>

    <update id="updateAliMemberLoginSuc">
        UPDATE t_eds_user
        SET aliUid = #{aliUid},aliLoginTime = #{loginTime},aliSmsCode = '',aliSmsExpired = null
        WHERE id=#{userId} AND dataStatus=1
    </update>

    <update id="updateInvalidAliUid">
        UPDATE t_eds_user SET aliUid = null WHERE aliUid=#{aliUid}
    </update>

    <update id="updateWxMemberLoginSuc">
        UPDATE t_eds_user
        SET openId = #{openId},wxUnionId = #{wxUnionId},wxLoginTime = #{loginTime},wxSmsCode = '',wxSmsExpired = null
        WHERE id=#{userId} AND dataStatus=1
    </update>

    <update id="updateInvalidWxUid">
        UPDATE t_eds_user SET openId = null,wxUnionId=null WHERE openId=#{openId} or wxUnionId=#{wxUnionId}
    </update>

</mapper>